/* 
Created on : 03-jul-2015, 18:13:47
Author     : jbustarviejo
*/

/*Estilos de menú*/

#body{
    width:100%; height: 100%; margin:0;
    background: #fff url("/images/movistar/movistar-background-fake3.jpg") repeat-x scroll left top;
}
header, footer{
    text-align: center;
}
header .logo {
    padding-right: 30px;
    position: absolute;
    right: 0;
    top: 18px;
}
header .logo > img {
    margin-top: -15px;
    max-height: 75px;
}
header #user-pannel{
    background-color: #005c83;
    border-radius: 0 0 5px 5px;
    color: #00bbca;
    float: right;
    font-family: Movistar;
    padding: 6px 30px 6px 19px;
    position: absolute;
    right: 12%;
    top: 0;
}
header #user-pannel span{
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
}
header #user-pannel img{
    height: 20px;
    vertical-align: middle;
}
header .menu {
    background-color: #005c83;
    border-radius: 15px;
    height: 75px;
    margin: 55px auto 25px;
    max-width: 980px;
    position: relative;
}
header .bot_home {
    background: rgba(0, 0, 0, 0) url("/images/movistar/home.jpg") repeat scroll 0 0;
    display: block;
    float: left;
    height: 26px;
    width: 31px;
    margin-left: 30px;
    margin-top: 25px;
}
header .bot_desc {
    display: block;
    float: left;
    font-size: 26px;
    margin-left: 20px;
    padding-top: 23px;
}
header a {
    color: #259dcd;
    outline: medium none;
    text-decoration: none;
    font-family: Movistar;
}
header a:hover {
    color: rgb(175,222,240);
}
header .unlog-button{
    background-color: #ff0000;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 10px;
    font-weight: bold;
    line-height: 16px;
    padding: 1px 5px;
    position: absolute;
    right: 2%;
    top: 21%;
}
header .unlog-button:hover{
    color: white;
}
@font-face {
    font-family: Movistar;
    src: url("/fonts/Movistar.otf");
}
@font-face {
    font-family: MovistarTextRegular;
    font-style: normal;
    font-weight: normal;
    src:  local("MovistarTextRegular"), url("/fonts/MovistarTextRegular.ttf") format("truetype");
}

/*Menú responsive*/

@media all and (max-width: 700px) { 
    header .bot_desc{
        clear: both;
    }
    header .menu{
        height: 235px;
    }
}

/*Estilo del diálogo de acceso*/
#login-menu-container, #user-without-points-dialog{
    width: 100%; height: 100%; 
    display: block; 
    position: fixed; 
    z-index: 100; 
    top: 0px; left: 0px; 
    background-color: rgba(55, 55, 55, 0.7);
}
#login-menu-container #games-goal{
    height: 370px;
}
#login-menu-container>div, #user-without-points-dialog>div{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    bottom: 0;
    display: block;
    font-family: Movistar;
    height: 250px;
    left: 0;
    margin: auto;
    padding: 2%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    vertical-align: middle;
    width: 50%;
}
#user-without-points-dialog{
    z-index: 101;
}
@media all and (max-width: 750px) { 
    #login-menu-container>div{
        height: auto;
    }
}

#login-menu-container .input-login {
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 15px;
    padding: 1% 2%;
    width: 46%;
}

#login-menu-container button, #user-without-points-dialog button{
    background-color: #003245;
    border: 1px solid;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding: 0.5% 6%;
}

#login-menu-container button:hover, #user-without-points-dialog button{
    opacity: 0.7;
}

/*Estilos generales*/

.main-description-image{
     border-radius: 10px;
    display: block;
    margin: 26px auto auto;
    max-width: 100%;
    text-align: center;
}
.movistar-image-fake{
    width: 100%;
    max-width: 980px;
}
.fake-container{
    background-color: #fff;
    margin: 0 auto;
    max-width: 980px;
    position: relative;
    width: 100%;
    padding-top: 1px;
    border-radius: 10px;
}
.fake-title {
    font-family: Movistar;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 42px;
    margin-top: 12px;
}

#game-container #straws-instructions-screen > div,#game-container #cards-instructions-screen > div,#game-container #boxes-instructions-screen > div{
    color: #fff; margin-top: 13%;
}

#fake-container .user-points{
    display: inline;
    float: right;
    font-family: Movistar;
    font-size: 20px;
    font-weight: bold;
    margin-right: 40px;
    margin-top: 23px;
}

#fake-container .user-points.hidden{
    display: none;
}

/*Estilos del pie*/

footer #pie {
    background: #00517a none repeat scroll 0 0;
    clear: both;
    color: #fff;
    font-family: Arial;
    font-size: 0.9em;
    margin: 30px auto 15px;
    max-width: 980px;
}

footer #copy {
    padding: 1% 3% 2%;
}

footer #pie ul {
    float: left;
    list-style-type: none;
    margin: 7px 0 0;
    padding: 0;
}

footer .logo-telef {
    float: right;
    margin: 2px 0 0;
}
footer #pie ul li.sinborde {
    border: medium none;
}
footer #pie ul li:first-child {
    margin: 0;
    padding: 0;
}
footer #pie ul li {
    border-left: 1px solid #00c1d5;
    display: block;
    float: left;
    line-height: 0.9em;
    margin: 0 0 0 4px;
    padding: 0 0 1px 5px;
}
footer li {
    list-style: outside none none;
}
footer #pie ul li {
    border-left: 1px solid #00c1d5;
    display: block;
    float: left;
    line-height: 0.9em;
    margin: 0 0 0 4px;
    padding: 0 0 1px 5px;
}
footer #pie a {
    color: #00c1d5;
    text-decoration: none;
}

/*Contenedor y estilos del menú principal de login*/

#game-container{
    border-radius:8px;
    overflow:hidden;
    z-index:10;
    margin: 15px auto; 
    position: relative; 
    width: 90%; 
    height: 90%; 
    border: 1px solid #000;
}
#toggle-sound{
    cursor: pointer;
    left: 1%;
    position: absolute;
    top: 1%;
    width: 5%;
    z-index: 11;
}
#game-container #login-menu{
    z-index: 10;
    background-color: #0A5D83;
}
#game-container .login-title {
    left: 14%;
    position: absolute;
    width: 74%;
}
#game-container #error-screen{
    z-index: 12;
    background-color: #0A5D83;
    display: none;
}
#game-container #error-screen > img{
    width: 60%;
}
#game-container #loading-screen{
    z-index: 11;
    background-color: #0A5D83;
}
#loading-screen .loading-title{
    left: 31%;
    position: absolute;
    width: 55%;
}
#loading-screen .loading-icon{
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
    bottom: 4%;
    left: 31%;
    position: absolute;
    width: 36%;
}
@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
#not-enought-points-screen, #not-enought-points-screen-2{
    z-index: 12;
    background-color: #0a5d83;
    color: white;
}
#login-menu .login-button{
    border: 3px solid #666;
    border-radius: 7px;
    bottom: 10%;
    cursor: pointer;
    left: 40%;
    position: absolute;
    width: 18%;
}
#login-menu .login-button:hover{
    width: 20%;
    left: 39%;
}
#game-container #login-username{
    margin-top: 18%;
}
#game-container #login-menu .h2-title{
    color: white;
}
#game-container .input-login{
    width: 50%;
    clear: both;
    height: 40px;
    border-radius: 10px;
    border: 0 none;
    padding: 5px 15px;
    margin-bottom: 20px;
}
@media all and (max-width: 700px) { 
    #game-container .input-login{
        width: 40%;
    }
}
@media all and (max-width: 400px) { 
    #game-container .input-login{
        width: 37%;
    }
}
#game-container #main-menu{
    color: #fff;
    background-image: url("/images/general/clouds.jpg");
    background-size: 100% auto;
}
#main-menu  .choose-game-title{
    left: 21%;
    position: absolute;
    top: 4%;
    width: 60%;
}
#main-menu .play-button{
    border: 3px solid #666;
    border-radius: 7px;
    cursor: pointer;
    left: 29%;
    position: absolute;
    width: 43%;
}
#main-menu .play-button:hover{
    width: 45%;
    left: 28%;
}
#main-menu .play-button-first{
    bottom: 56%;
}
#main-menu .play-button-second{
    bottom: 33%;
}
#main-menu .play-button-third{
    bottom: 13%;
}
#game-container .play-button-game{
    cursor: pointer;
    width: 25%;
    margin-top: 4%;
    border-radius: 8px;
    font-size: 1.5vw;
    margin-left: 0.5%;
    margin-right: 0.5%;
    height: 16%;
    background-color: #F8F8F8;
    color: #333;
    font-weight: bold;
}
#game-container .play-button-game.return-button{
    padding: 1% 1% 2%;
    width: 26%;
}
#game-container .play-button-game.return-button span{
    font-size: 7vw; 
    line-height: 0; 
    display: inline;
}
#game-container .play-button-game.return-button:hover{
    font-size: 1.9vw;
    padding-top: 2%;
    width: 32%;
    margin-top: 3.5%;
    padding-bottom: 2%;
}
#game-container .play-button-game .green{
    color: #44aa44;
}
#game-container .play-button-game .red{
    color: #ff4444;
}
#game-container .play-button-game:hover, #game-container .play-button-game2{
    font-size: 2vw;
    height: 23%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2%;
    padding-bottom: 2%;
    padding-top: 1%;
    width: 28%;
}
#game-container button{
    cursor:pointer;
    border: 0 none;
    border-radius: 5px;
    font-size: 20px;
    height: 50px;
    width: 150px;
    margin-top: 20px;
}
#game-container .close-button{
    background-color: #ff0000;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-weight: bold;
    line-height: 15px;
    padding: 4px 6px;
    position: absolute;
    right: 1%;
    top: 1%;
}
#game-container .screen{
    width: 100%; 
    height: 100%; 
    position: absolute;
    text-align: center;
}

/*Juego de las cañas*/

#game-container #straws-game{
    display:none;
}
#game-container .close-hand{
    position: absolute;
    width: 74%;
    left:0;
}
#game-container #close-hand-front{
    z-index: 7;
    bottom: -12%;
}
#game-container #close-hand-back{
    z-index: 5;
    bottom: 0.9%;
}
#game-container .open-hand{
    left: 0;
    position: absolute;
    width: 104%;
}
#game-container #open-hand-front {
    bottom: -38%;;
    width: 104%;
    z-index: 7;
}
#game-container #open-hand-back {
    bottom: -8.6%;
    z-index: 6;
}
#game-container .straw{
    top: 8%;
    left: 50%;
    height: 70%;
    position: absolute;
    width: 3%;
    margin-left: 1%;
    margin-top: 1%;
    z-index: 6;
}
#game-container .straws-helper-arrow{
    left: 2%;
    position: absolute;
    top: 1%;
    width: 48%;
}
#game-container #straws-helper-text{
    left: 6%;
    position: absolute;
    top: 1%;
    width: 48%;
}
#game-container #main-screen-game-straws{
    background-image: url("/images/largest-straw/straws-background.jpg");
    background-size: 100%;
    z-index: 8;
}

/*Juego de las cartas*/

#game-container #main-screen-cards-game{
    background-color: rgb(117, 117, 219);
    background-image: url("/images/cards/cards-background.jpg");
    background-position: center bottom;
    background-size: 100% auto;
    z-index: 8;
}

#game-container #cards-title{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    left: 19%;
    position: absolute;
    top: 2%;
    width: 61%;
}

#game-container .menu-screen{
    z-index: 9;
    background-color: rgba(10, 93, 131, 0.95);
    border: 1px solid black;
}
#game-container .menu-screen.instructions-screen{
    background-color: rgba(10, 93, 131, 1);
}
#game-container .straw:hover, #game-container .straw.selected{
    width: 3.5%;
    cursor: pointer;
    margin-left: 0.75%;
    margin-top: 0%;
    opacity: 0.8;
}
#game-container .straw.selected{
    opacity: 1;
}
#game-container .straw.no-selected{
    cursor: default;
    margin-top: 1%;
    opacity: 0.7;
    width: 3%;
    margin-left: 1%;
}
#game-container .straw.selected:hover{
    cursor: default;
}
#game-container .straw.no-selected:hover{
    width: 3%;
    cursor: default;
    opacity:0.7;
}
#game-container .h2-title{
    font-size: 4vw;
}
 #game-container .screen-msg{
    font-size: 2vw;
    margin: 0 5%;
}

/*Flip effects*/
#cards-game .front, #cards-game .back {
    border-radius: 10px;
    cursor: pointer;
}

#cards-game .front,#cards-game .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

#cards-game .red-card{
    background-color: #d63232;
    background-image: url("/images/cards/red-card-background.jpg");
    border: 2px solid #fff;
    background-size: 100% auto;
}

#cards-game .black-card{
    background-color: #222;
    border: 2px solid #fff;
    background-image: url("/images/cards/black-card-background.jpg");
    background-size: 100% auto;
}

#cards-game .cards-play-button{
    border-radius: 6px;
    bottom: 6%;
    left: 33%;
    opacity: 0.6;
    position: absolute;
    width: 34%;
}
#cards-game .ready-btn{
    cursor: pointer;
    left: 40%;
    opacity: 1;
    width: 17%;
}
#cards-game .ready-btn:hover{
    width: 19%;
    left: 39%;
}
#game-container .card-container {
    width: 18%;
    height: 45%;
    position: absolute;
    float: left;
    cursor: pointer;
    top: 28%;
}

#game-container .card {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    transition: transform 0.6s;
}
#game-container #final-card-front, #game-container #final-card-back{
    cursor: default;
}
#game-container .card div {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 150px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 140px;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; 
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    transition: transform 0.6s;
}
#game-container .card .front{
    z-index: 1; 
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
#game-container .card .back{
    z-index: 0; 
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
#game-container .card.flipped .front{
    z-index: 0;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
#game-container .card.flipped .back{
    z-index: 1;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
#game-container .card:hover {
    -webkit-transform: rotateY(30deg);
    -moz-transform: rotateY(30deg);
    -o-transform: rotateY(30deg);
    transform: rotateY(30deg);
}

#cards-game #cards-hat {
    left: 36.5%;
    top: 100%;
    position: absolute;
    width: 25%;
    z-index: 3;
}

#cards-game #cards-hat.fast-transition {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
#cards-game #final-card {
    border-radius: 10px;
    display: none;
    height: 17%;
    margin-left: 46% !important;
    position: absolute;
    width: 7%;
    top: 40%;
}

#cards-game .cards-choose-title{
    width: 86%; 
    margin-top: 48%;
}

#cards-game .card-to-choose{
    border-radius: 10px;
    bottom: 10%;
    display: none;
    height: 46%;
    left: 15%;
    position: absolute;
    width: 19%;
    cursor: pointer;
}

#cards-game .card-to-choose#card-to-choose-right{
    left:67%;
}

#cards-game .span-explain{
    color: white;
    font-size: 21px;
    position: relative;
    text-align: center;
    top: 50%;
    vertical-align: middle;
}

/*Cajas*/
#game-container #main-screen-game-boxes{
    background-color: rgb(117, 117, 219);
    background-image: url("/images/boxes/boxes_background.jpg");
    background-position: 100% 0;
}

#boxes-game .box{
    width: 13%;
    bottom: 36%;
    margin-left: 2%;
    cursor: pointer;
    position: absolute;
    z-index: 8;
}

#boxes-game .box.final-box{
    width: 18%;
    margin: 0;
}

#boxes-game #your-box-container{
    background-color: #ffffff;
    border-top-left-radius: 15px;
    bottom: 0;
    height: 37%;
    position: absolute;
    right: 0;
    width: 24%;
    z-index: 7;
}

#boxes-game #your-box-container > div{
    background-color: #ccc;
    border-radius: 7px;
    bottom: 3%;
    height: 18%;
    left: 8%;
    position: absolute;
    width: 85%;
}

#boxes-game #your-box-container img{
    height: 96%;
    width: 92%;
}

#boxes-game .table{
    left: -26%;
    position: absolute;
    top: 8%;
    width: 150%;
    z-index: 7;
}

#boxes-game .box:hover{
    width: 17%;
    margin-left: 0%;
    bottom: 34%;
}

#boxes-game .box.box-unselectable{
    pointer-events: none;
}

#boxes-game .box.box-unselectable:hover{
    width: 14%;
    margin-left: 2%;
    bottom: 36%;
    cursor: auto;
}

/*#boxes-game .choosen-box{
    /*-webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    bottom: 2%;
    left: 80% !important;
    cursor: auto;
}*/

#boxes-game .choosen-box:hover{
    width: 17%;
    cursor: pointer;
    /*bottom: 3%;*/
}

#boxes-game .choosen-box-title{
    bottom: 2%;
    position: absolute;
    right: 21%;
    opacity: 0;
    /*-webkit-transition: 2.5s;
    -moz-transition: 2.5s;
    -o-transition: 2.5s;
    transition: 2.5s;*/
}

#boxes-game .box-to-hide{
    /*-webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;*/
    opacity: 0;
}

#boxes-game .box-to-change{
    left: 40% !important;
    /*-webkit-transition: 2s;
    -moz-transition: 2s;
    -o-transition: 2s;
    transition: 2s;*/
}

#boxes-game .box.box-to-change-finish{
    /*-webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;*/
    cursor: pointer;
    pointer-events: auto;
}

#boxes-game .box.box-unselectable.box-to-change-finish:hover{ 
    width: 14%;
    margin-left: 1.5%;
    bottom: 36%;
    cursor: pointer;
}

#boxes-game .box.choosen-box-change{
    /*-webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;*/
}

#boxes-game .box.choosen-box-change:hover{
    width: 14%;
    cursor: pointer;
    margin-left: 1.5%;
}

#boxes-game .boxes-title-background{
    position: absolute;
    width: 66%; 
    left: 14%; 
    top: 0%;
}
#boxes-game .boxes-title-text{
    position: absolute; 
    top: 2%;
    width: 50%;
    left: 20%;
}

/*Mis puntos*/

#index-container, #points-container{
    border-radius: 8px;
    height: 90%;
    margin: 15px auto 20px;
    overflow: hidden;
    padding-bottom: 30px;
    position: relative;
    width: 90%;
    font-family: Movistar;
}

#points-container > p{
    margin: 0 0 15px;
}

.sales-container-container > h2{
    clear: both;
}

#points-container table{
    border: 1px solid #666;
    border-radius: 5px;
    padding: 5px;
    background-color: #BBE8EE;
    border-collapse: collapse;
}

#points-container table td {
    border: 1px solid #666;
    text-align: center;
    color: #1d7a8b;
}

#points-container thead{
    background-color: #62BFD0;
}

#points-container thead td{
    color: #1d7a8b;
}

/*Tienda de puntos*/

.sales-container-container {
    color: #005c83;
}
.sale-container .box-left{
    border: 2px solid #08c7d8;
    border-radius: 15px;
    float: left;
    margin-bottom: 15px;
    margin-left: 11%;
    position: relative;
    width: 30%;
}
.sale-container .box-left:hover{
    cursor: pointer;
    opacity: 0.6;
}
.sale-container .cancel{
    background-color: #ff4444;    
}
.sale-container .shop-item-container .goal{
    background-color: #ffc844;    
}
.sale-container .buy{
    background-color: #44aa44;    
}
.sale-container button.disabled{
    opacity: 0.5;
    pointer-events: none;
}
.box-left > img {
    display: block;
    margin: -5% auto 2%;
    max-width: 100%;
    position: relative;
    text-align: center;
    max-height: 125px;
}
.box-left > p{
    color: #005c84;
    text-align: center;
    font-size: 20px;
    font-family: MovistarTextRegular;
}
.box-left.goal{
    border-width: 4px;
    background-color: #d8e4e5;
}
p.purchased-title{
    color: green;
    display: none;
    position: absolute;
    right: 20px;
    top: 0;
}
.sale-container.purchased p.purchased-title{
    display: block;
}
.sale-container.purchased .box-left{
   background-color: #ceffce;
}
.sale-container.clicked .shop-item-container{
    cursor: default;
    opacity: 1;
    display: block;
}
.shop-item-container{
    width: 100%; height: 100%; 
    display: none; 
    position: fixed; 
    z-index: 100; 
    top: 0px; left: 0px; 
    background-color: rgba(55, 55, 55, 0.7);
}

.shop-item-container .item-purchased{
    height: 170px; 
    display: none;
}

.shop-item-container .item-first-goal{
    height: 170px; 
    display: none;
}

.shop-item-container>div{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    bottom: 0;
    display: block;
    font-family: Movistar;
    height: 300px;
    left: 0;
    margin: auto;
    padding: 2%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    vertical-align: middle;
    width: 50%;
}
@media all and (max-width: 750px) { 
    .shop-item-container>div{
        height: auto;
    }
}
.sale-container .return-item{
    display: none;
    cursor: pointer;
    color: #005c83;
}
.sale-container.returnable .return-item{
    display: inline;
}
.shop-item-container button {
    background-color: #003245;
    border: 1px solid;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding: 0.5% 6%;
}

.shop-item-container button:hover{
    opacity: 0.7;
}